.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; /* 高さを自動調整 */
  }
  
  .chart-header {
    width: 100%;
    height: 33.33%; /* 全体の 1/3 の高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* グラフとのスペース */
  }
  
  .chart-title {
    font-size: 1.5rem; /* 少し大きく */
    font-weight: bold;
  }
  
  .responsive-chart {
    width: 100%;
    margin-bottom: 1rem; /* グラフ間のスペースを調整 */
    height: auto; /* グラフの高さは内容に合わせて調整 */
  }
  
  .bar-label {
    fill: white;
    font-size: 14px;
  }